* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html,
body {
   font-size: 16px;
   height: 100%;
   scroll-behavior: smooth;
   text-rendering: optimizeLegibility;
   touch-action: manipulation;
   user-select: none;
   -ms-touch-action: manipulation;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-user-select: none;
}

body {
   font-family: system-ui, sans-serif;
   position: relative;
   background: #111111;
}

img {
   max-width: 100%;
   display: inline-flex;
}

a {
   text-decoration: none;
   cursor: pointer;
}

ul,
ol {
   list-style: none;
}

input {
   border: none;
   outline: none;
}

input:focus {
	outline: none;
}

button {
   border: none;
   outline: none;
   background: none;
   cursor: pointer;
   touch-action: manipulation;
   user-select: none;
   -ms-touch-action: manipulation;
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
}

button:focus {
	outline: none
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   height: 100%;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

ul {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

li {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #fff;
   width: 5em;
   height: 5em;
   border-radius: .5rem;
}

li a {
   color: #ff5722;
   font-size: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
}

li:hover {
   border: #ff5722;
   background: #ff5722;
}

li:hover a {
   color: #fff;
}

@media (max-width: 600px) {
   ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   li {
      width: 6em;
      height: 6em;
   }

   li a {
      font-size: 2.5rem;
   }
}